<h2 mat-dialog-title>
    Detalle de la factura #{{invoice.NumeroFactura}}
    <br />
    <span>
        Subtotal:
        $ {{convertNumber(invoice.Total - (invoice.Total * (invoice.Descuento/100)) + (invoice.Total * (invoice.IVA/100)))}}
    </span>
</h2>
<mat-dialog-content class="mat-typography custom-width">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Datos Facturas">
            <br>
            <mat-form-field appearance="outline">
                <mat-label># Factura</mat-label>
                <input matInput [(ngModel)]="invoice.NumeroFactura" type="number">
                <!-- <mat-hint align="end">{{invoice.nombre.length}} / {{maxLength.nombre}}</mat-hint> -->
            </mat-form-field>

            <mat-form-field appearance="outline" class="col">
                <mat-label>Tipo de pago</mat-label>
                <mat-select [(value)]="invoice.TipodePago">
                    <mat-option value="payment">Payment</mat-option>
                    <mat-option value="contado">Contado</mat-option>
                    <mat-option value="credito">Crédito</mat-option>
                    <mat-option value="invoice">Invoice</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="datePicker" [formControl]="date">
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>NIT</mat-label>
                <input matInput [(ngModel)]="invoice.DocumentoCliente" type="number">
                <!-- <mat-hint align="end">{{invoice.nombre.length}} / {{maxLength.nombre}}</mat-hint> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Nombre del Ciente</mat-label>
                <input matInput [(ngModel)]="invoice.NombreCliente">
                <!-- <mat-hint align="end">{{invoice.nombre.length}} / {{maxLength.nombre}}</mat-hint> -->
            </mat-form-field>

            <mat-form-field appearance="outline" class="col">
                <mat-label>IVA</mat-label>
                <input matInput [(ngModel)]="invoice.IVA" type="number" maxlength="2" min="0">
                <!-- <mat-hint align="end">{{invoice.nombre.length}} / {{maxLength.nombre}}</mat-hint> -->
            </mat-form-field>

            <mat-form-field appearance="outline" class="col">
                <mat-label>Descuento</mat-label>
                <input matInput [(ngModel)]="invoice.Descuento" type="number" maxlength="2" min="0">
                <!-- <mat-hint align="end">{{invoice.nombre.length}} / {{maxLength.nombre}}</mat-hint> -->
            </mat-form-field>
        </mat-tab>
        <mat-tab label="Detalle de Productos">
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Item</mat-label>
                <input matInput [(ngModel)]="invoiceDetailNew.Item" type="number">
                <!-- <mat-hint align="end">{{invoice.nombre.length}} / {{maxLength.nombre}}</mat-hint> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Nombre del producto</mat-label>
                <input matInput [(ngModel)]="invoiceDetailNew.Producto">
                <!-- <mat-hint align="end">{{invoice.nombre.length}} / {{maxLength.nombre}}</mat-hint> -->
            </mat-form-field>

            <mat-form-field appearance="outline" class="col">
                <mat-label>Cantidad</mat-label>
                <input matInput [(ngModel)]="invoiceDetailNew.Cantidad" type="number" maxlength="2" min="0">
            </mat-form-field>

            <mat-form-field appearance="outline" class="col">
                <mat-label>PrecioUnitario</mat-label>
                <input matInput [(ngModel)]="invoiceDetailNew.PrecioUnitario" type="number" maxlength="2" min="0">
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="addProduct()" [disabled]="!(invoiceDetailNew.Item != 0 && invoiceDetailNew.Producto != '' && invoiceDetailNew.Cantidad != 0 && invoiceDetailNew.PrecioUnitario != 0)">
                Agregar Producto
            </button>

            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="item">
                    <th mat-header-cell *matHeaderCellDef>Item </th>
                    <td mat-cell *matCellDef="let element"> {{element.Item}} </td>
                </ng-container>

                <ng-container matColumnDef="producto">
                    <th mat-header-cell *matHeaderCellDef> Producto </th>
                    <td mat-cell *matCellDef="let element"> {{element.Producto}}</td>
                </ng-container>

                <ng-container matColumnDef="cantidad">
                    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                    <td mat-cell *matCellDef="let element">{{element.Cantidad}}</td>
                </ng-container>

                <ng-container matColumnDef="precioUnitario">
                    <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
                    <td mat-cell *matCellDef="let element"> {{convertNumber(element.PrecioUnitario)}} </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total </th>
                    <td mat-cell *matCellDef="let element" class="column-editor">
                        {{convertNumber(element.PrecioUnitario*element.Cantidad)}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element;  let j = index;" class="column-editor">
                        <button mat-icon-button color="primary" matTooltip="Editar" (click)="edit(element)">
                            <mat-icon>mode_edit</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" matTooltip="Eliminar" (click)="delete(j)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

                <!-- <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No se encontraron registros para: "{{inputSearch.value}}"</td>
                </tr> -->
            </table>

            <mat-paginator #paginator showFirstLastButtons [pageSizeOptions]="[10, 20, 30, 50]" [pageSize]="10">
            </mat-paginator>
        </mat-tab>
    </mat-tab-group>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <caption *ngIf="!(invoice.Detalle.length > 0 && invoice.DocumentoCliente != '' && invoice.NombreCliente != '' && invoice.NumeroFactura != 0 && invoice.TipodePago != '')">
        El botón de guardar se habilita cuando la información esté completa
    </caption>
    <button mat-raised-button color="primary" [mat-dialog-close]="invoice" cdkFocusInitial [disabled]="!(invoice.Detalle.length > 0 && invoice.DocumentoCliente != '' && invoice.NombreCliente != '' && invoice.NumeroFactura != 0 && invoice.TipodePago != '')">
        Guardar
    </button>
    <button mat-button [mat-dialog-close]>Cerrar</button>
</mat-dialog-actions>