<mat-card>
    <mat-card-content>
        <button mat-raised-button color="primary" (click)="openDialog(null)">
            Agregar factura
            <mat-icon>add</mat-icon>
        </button>
        <br>
        <br>
        <br>
        <mat-form-field>
            <mat-label>Búscar factura</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Número de documento / Nombre del cliente" #inputSearch>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="numberInvoice">
                <th mat-header-cell *matHeaderCellDef># Facutra </th>
                <td mat-cell *matCellDef="let element"> {{element.NumeroFactura}} </td>
            </ng-container>

            <ng-container matColumnDef="documentCustomer">
                <th mat-header-cell *matHeaderCellDef> NIT </th>
                <td mat-cell *matCellDef="let element"> {{element.DocumentoCliente}}</td>
            </ng-container>

            <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef> Cliente </th>
                <td mat-cell *matCellDef="let element">{{element.NombreCliente}}</td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.Fecha | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="noIva">
                <th mat-header-cell *matHeaderCellDef> Total Sin IVA </th>
                <td mat-cell *matCellDef="let element"> {{convertNumber(element.Total)}} </td>
            </ng-container>

            <ng-container matColumnDef="iva">
                <th mat-header-cell *matHeaderCellDef> Total Con IVA </th>
                <td mat-cell *matCellDef="let element">
                    {{getTotalInvoice(element)}}
                    {{convertNumber(element.Total * 1.19)}}
                </td>
            </ng-container>

            <ng-container matColumnDef="descuento">
                <th mat-header-cell *matHeaderCellDef> Total Con Descuento </th>
                <td mat-cell *matCellDef="let element">
                    {{convertNumber(element.Total -(element.Total * (element.Descuento/100)))}}
                </td>
            </ng-container>

            <ng-container matColumnDef="detail" stickyEnd>
                <th mat-header-cell *matHeaderCellDef> Detalle </th>
                <td mat-cell *matCellDef="let element" attr="{{element.isExpanded}}">
                    <button mat-icon-button color="primary" matTooltip="Ver detalle" (click)="openDialog(element)">
                        <mat-icon>format_list_bulleted</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No se encontraron registros para: "{{inputSearch.value}}"</td>
            </tr>
        </table>

        <mat-paginator #paginator showFirstLastButtons [pageSizeOptions]="[10, 20, 30, 50]" [pageSize]="10">
        </mat-paginator>
    </mat-card-content>
</mat-card>